*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size:16px;
  box-sizing: border-box;
  overflow: hidden;
}

:focus{
  outline: 1px dashed red;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (min-width: 1400px) {
    .container {
      width: 1300px; } }
  @media (min-width: 1500px) {
    .container {
      width: 1440px; } }

.App .app-header{
  background-color:#ffd9d9;
  margin-bottom: 40px;
  padding:20px;
}

.App .head-title{
  text-align: center;
  font-weight: 300;
  margin:0;
  padding:0;
}

.App .block-todos{
  padding:20px;
  border-bottom:1px solid #edb3b3;
  display: flex;
}

.App .true{
  text-decoration: line-through;
  color:red;
}

.App .content-todos{
  margin:0;
  font-size:1.2rem;
  width:80%;
  overflow: hidden;
  word-wrap: break-word;
}

.App .wrapper-button{
  width:20%;
  display: flex;
  justify-content: center;
}

.App .delete{
  border:1px solid #a12222;
  background-color: transparent;
  color:#000000;
  padding:5px 15px;
  font-size:.875rem;
  cursor: pointer;
  transition: .2s all;
  border-radius: 2px;
  margin-left:10px;
}

.App .delete:hover{
  background-color:#edb3b3;
}


.App .add-todo-title{
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin:80px 0 30px 0;
}

.App .add-todo-content{
  width:100%;
  display: block;
  border:none;
  border-bottom: 2px solid #b05151;
  padding:15px;
}

.App .add{
  border:1px solid #a12222;
  background-color: transparent;
  color:#000000;
  padding:5px 15px;
  font-size:.875rem;
  cursor: pointer;
  transition: .2s all;
  border-radius: 2px;
  width:50%;
  display: block;
  margin:20px auto;
}

.App .add:hover{
  border:1px solid #6fd4b4;
  background-color:#6fd4b4;
}

.App .no-todos{
  font-size:1.5rem;
  color:red;
  text-align: center;
}